body {
    
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center; /* align text to the center */
    background-image: url('images/index1.jpg');
    background-size: cover; /* cover the entire viewport */
    background-repeat: no-repeat; /* do not repeat the background image */

}

h1, h2, h3, h4, h5, h6 {
    color: #f2e9e9; /* set text color */
}

p {
    color: #0396b4; /* set text color */
    line-height: 1.5; /* set line height */
}

/* home page styles */
.index-page {
    background-image: url('images/index1.jpg'); /* set background image */
    background-size: cover; /* cover the entire viewport */
   /* center the background image */
    background-repeat: no-repeat; /* do not repeat the background image */
    color: #fff; /* set text color */
}

/* input page styles */
.input-page {
    background-image: url('images/input.jpeg'); /* set background image */
    background-size: cover; /* cover the entire viewport */
     /* center the background image */
    background-repeat: no-repeat; /* do not repeat the background image */
    color: #200606; /* set text color */
}

/* output page styles */
.output-page {
    background-image: url('images/output1.jpg'); /* set background image */
    background-size: cover; /* cover the entire viewport */
    /* background-position: center; center the background image */
    background-repeat: no-repeat; /* do not repeat the background image */
    color: #333; /* set text color */
}

.previousedata-page {
    background-size: cover; /* cover the entire viewport */
    background-position: center; /* center the background image */
    background-repeat: no-repeat; /* do not repeat the background image */
    color: hsl(0, 0%, 100%); /* set text color */
}

/* form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* set background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* set text color */
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF; /* set background color */
    color: #fff; /* set text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* set hover background color */
}

a {
    color: #007BFF; /* set text color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}